.card-list-block{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.create-new-user-btn {
    margin-bottom: 20px !important;
}
